<footer class="footer-distributed">
  <div class="footer-left">
    <h3> Travel Everywhere</h3>
      <p class="footer-company-name">Company Name © 2023</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>Ngõ 8 phường Hoàng liệt, Hoàng mai, Hà Nội</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>Phone: +84 973148200</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><%= link_to "traveloka@loka.com", '#'%></a></p>
    </div>

  </div>

    <div class="footer-right">
      <p class="footer-company-about">
        Cùng Traveloka đi khắp muôn nơi!<br>
        "Không phải địa điểm mà là cuộc hành trình, không phải quãng đường mà là những khoảnh khắc." - Ralph Waldo Emerson
      </p>

    <div class="footer-icons">
      <a href="https://www.facebook.com/DonaldTrump/" target="_blank"><i class="fa fa-facebook"></i>
      <a href="https://www.instagram.com/accounts/login/?next=/leomessi/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/donaldtrump"  target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCBJnS5ExQo4SIJlsqNDnXGA" target="_blank"><i class="fa fa-youtube-play"></i></a>
    </div>
  </div>
</footer>
